<section class="library" id="myLibraryPage_show">
  <div class="library__buttons">
    <button type="button" class="btn library__btn library__btn--watch" data-action="watched">Watched</button>
    <button type="button" class="btn library__btn library__btn--queue" data-action="queue">Queue</button>
  </div>
  <div class="container-main">
    <h2 class="empty-films non-visible"></h2>
    <ul class="films-list">
  </ul>
  </div>
</section>