

<section class="developers">
        
        <h2 class="tittle-team">our team</h2>
        
        <div class="box">
            <div class="wraper-TemPage">
            <a class="icon" href="https://github.com/JustDenis" target="_blank">
            <p class="name-developer">Denis Eskov</p><i class="fab fa-github-square"></i>
            </a>
            </div>

            <div class="wraper-TemPage">
            <a class="icon" href="https://github.com/DenysPalyha" target="_blank">
            <p class="name-developer">Denys Palyha</p><i class="fab fa-github-square"></i>
            </a>
            </div>

            <div class="wraper-TemPage">
            <a class="icon" href="https://github.com/ketamin2020" target="_blank"> 
            <p class="name-developer">Maxim Kovalenko</p><i class="fab fa-github-square"></i>
            </a>
            </div>

            <div class="wraper-TemPage">
            <a class="icon" href="https://github.com/Kolya1210" target="_blank">
            <p class="name-developer">Mykola Babytskiy</p><i class="fab fa-github-square"></i>
            </a>
            </div>
 
            <div class="wraper-TemPage">
            <a class="icon" href="https://github.com/OlegKolyushko" target="_blank">
            <p class="name-developer">Oleg Kolyushko</p><i class="fab fa-github-square"></i>
            </a>
            </div>

            <div class="wraper-TemPage">
            <a class="icon" href="https://github.com/SergiySnigur" target="_blank"> 
            <p class="name-developer">Sergiy Snigur</p><i class="fab fa-github-square"></i>
            </a>
            </div>

            <div class="wraper-TemPage">
            <a class="icon" href="https://github.com/VVMachine" target="_blank"> 
            <p class="name-developer">Vitya Machine</p><i class="fab fa-github-square"></i>
            </a>
            </div>

            <div class="wraper-TemPage">
            <a class="icon" href="https://github.com/elena-salam" target="_blank">
            <p class="name-developer">Elena Salamakha</p><i class="fab fa-github-square"></i>
            </a>
            </div>
        </div>
        </section>